<div class="container">
  <div class="row">
    <div class="col" style="background-image: url('assets/images/cali-puppy.jpg'); background-position: center; background-repeat: no-repeat; background-size: contain; min-height: 350px"></div>
    <div class="col">
      <h1 class="about-text">Cali's Story</h1>
      <p class="about-text">This is Cali, a black labrador retriever.  She was born on April 6, 2016 and lives in Burlington, MA.  She loves hiking, fetching, swimming.. anything outside.</p>
      <div class="text-center contact-button">
        <a class="btn btn-secondary" [routerLink]='["/contact"]'>Let's Talk</a>
      </div>
    </div>
  </div>
</div>