<ngb-carousel>
	<ng-template ngbSlide>
	  <div class="container-image" style="background-image: url('assets/images/cali-barharbor.jpg');">
        <div class="carousel-caption d-none d-md-block">
          <h3>Acadia National Park</h3>
          <p>Hiking Mount Penobscot.</p>
        </div>
      </div> 
	</ng-template>
	<ng-template ngbSlide>
      <div class="container-image" style="background-image: url('assets/images/cali-killingtonvt.jpg');">
        <div class="carousel-caption d-none d-md-block">
          <h3>Killington, VT</h3>
          <p>Hiking the snow shoe trails at Killington.</p>
        </div>
      </div>
	</ng-template>
	<ng-template ngbSlide>
      <div class="container-image" style="background-image: url('assets/images/cali-sunsetbeach.jpg');">
        <div class="carousel-caption d-none d-md-block">
          <h3>Falmouth, MA</h3>
          <p>Sunset on the beach.</p>
        </div>
      </div> 
	</ng-template>
	<ng-template ngbSlide>
      <div class="container-image" style="background-image: url('assets/images/cali-swim.jpg');">
        <div class="carousel-caption d-none d-md-block">
          <h3>Falmouth, MA</h3>
          <p>Playing fetch in the water.</p>
        </div>
      </div>
	</ng-template>
	<ng-template ngbSlide>
      <div class="container-image" style="background-image: url('assets/images/cali-theknob2.jpg');">
        <div class="carousel-caption d-none d-md-block">
          <h3>Woods Hole, MA</h3>
          <p>Hiking The Knob on the Cape.</p>
        </div>
      </div>
	</ng-template>
</ngb-carousel>

<div class="text-center contact-button">
  <a class="btn btn-secondary" [routerLink]='["/contact"]'>Let's Talk</a>
</div>