<!-- Page Content -->
<div class="container-fluid text-center">
  <div class="container-item">
    <p>The sweet-faced, lovable Labrador Retriever is America’s most popular dog breed.</p>
  </div>
  <div class="row container-item">
    <div class="col-sm">
      <div class="full-image" style="background-image: url('assets/images/cali-puppy2.jpg')"></div>
    </div>
    <div class="col-sm">
      <div class="full-image" style="background-image: url('assets/images/cali-puppy3.jpg')"></div>
    </div>
    <div class="col-sm">
      <div class="full-image" style="background-image: url('assets/images/cali-puppy8.jpg')"></div>
    </div>
  </div>
  <div class="container-item">
    <p>Labradors are curious, intelligent, and love company.</p>
  </div>
  <div class="row container-item">
    <div class="col-sm">
      <div class="container-image" style="background-image: url('assets/images/cali-killington.jpg')"></div>
    </div>
    <div class="col-sm">
      <div class="container-image" style="background-image: url('assets/images/cali-beach.jpg')"></div>
    </div>
  </div>
</div>
<!-- /.container -->